<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Novedades</h3>
          <button class="btn btn-primary float-right" (click)="navigateToCreate()">Crear novedades</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Gravedad</th>
                  <th scope="col">ID Turno</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let novedad of novedades">
                  <td>{{ novedad.id }}</td>
                  <td>{{ novedad.tipo }}</td>
                  <td>{{ novedad.descripcion }}</td>
                  <td>{{ novedad.gravedad }}</td>
                  <td>{{ novedad.turno_id }}</td>
                  <td>
                    <button class="btn btn-sm btn-primary" (click)="edit(novedad.id)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(novedad.id)">Delete</button>
                  </td>
                </tr>
                <tr *ngIf="novedades.length === 0">
                  <td colspan="6" class="text-center">No novelties available.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>