<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Constructions</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">ID Paquete</th>
                  <th scope="col">Municipio</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obra of obras">
                  <td>{{ obra.id }}</td>
                  <td>{{ obra.nombre }}</td>
                  <td>{{ obra.paquete_id }}</td>
                  <td>{{ obra.municipio.nombre }}</td>
                  <td>
                    <button class="btn btn-sm btn-primary" (click)="edit(obra.id)">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(obra.id)">Eliminar</button>
                  </td>
                </tr>
                <tr *ngIf="obras.length === 0">
                  <td colspan="5" class="text-center">No hay obras disponibles.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>