<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
          <h3 class="mb-0" *ngIf="mode==2">Creación</h3>
          <h3 class="mb-0" *ngIf="mode==3">Actualización</h3>


        </div>
        <div class="card-body container">
          <div class="row">
            <div class="col-3">ID</div>
            <div class="col-9"><input type="text" class="form-control" [(ngModel)]="gobernantedepartamento.id" disabled></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">Fecha Inicio</div>
            <div class="col-9"><input type="text" class="form-control" [(ngModel)]="gobernantedepartamento.fecha_inicio"
                [disabled]="mode==1">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">Fecha Fin</div>
            <div class="col-9"><input type="date" class="form-control" [(ngModel)]="gobernantedepartamento.fecha_fin"
                [disabled]="mode==1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">ID Gobernante</div>
            <div class="col-9"><input type="date" class="form-control" [(ngModel)]="gobernantedepartamento.gobernante_id"
                [disabled]="mode==1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">ID Departamento</div>
            <div class="col-9"><input type="date" class="form-control" [(ngModel)]="gobernantedepartamento.departamento_id"
                [disabled]="mode==1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">Departamento</div>
            <div class="col-9"><input type="date" class="form-control" [(ngModel)]="gobernantedepartamento.departamento"
                [disabled]="mode==1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">Gobernante</div>
            <div class="col-9"><input type="date" class="form-control" [(ngModel)]="gobernantedepartamento.gobernante"
                [disabled]="mode==1"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
              <button *ngIf="mode==1" class="btn btn-primary btn-block" (click)="back()">Volver</button>
              <button *ngIf="mode==2" class="btn btn-primary btn-block" (click)="create()">Crear</button>
              <button *ngIf="mode==3" class="btn btn-primary btn-block" (click)="update()">Update</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>