<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <h3 class="mb-0">Evidencias</h3> </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo Archivo</th>
                <th scope="col">Fecha Carga</th>
                <th scope="col">ID Servicio</th>
                <th scope="col">ID Novedad</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let evidencias of evidencias">
                <td>{{ evidencias.id }}</td>
                <td>{{ evidencias.file_type }}</td>
                <td>{{ evidencias.load_date | date:'yyyy-MM-dd HH:mm' }}</td> <td>{{ evidencias.service_id }}</td>
                <td>{{ evidencias.novelty_id }}</td>
                <td>
                  <button class="btn btn-sm btn-primary" (click)="edit(evidencia.id)">Editar</button>
                  <button class="btn btn-sm btn-danger" (click)="delete(evidencias.id)">Eliminar</button>
                </td>
              </tr>
              <tr *ngIf="evidencias.length === 0"> <td colspan="6" class="text-center">No hay evidencias disponibles.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>