<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
          <h3 class="mb-0" *ngIf="mode==2">Creación</h3>
          <h3 class="mb-0" *ngIf="mode==3">Actualización</h3>

        </div>

        <form class="form" [formGroup]="theFormGroup">
        <div class="card-body container">
          <div class="row">
            <div class="col-3">ID</div>
            <div class="col-9"><input type="text" class="form-control" [(ngModel)]="chat.id"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3">Titulo</div>
            <div class="col-9"><input type="text" class="form-control" [(ngModel)]="chat.titulo" [disabled]="mode==1">
          </div>
          <div
              *ngIf="getTheFormGroup.titulo.errors && (getTheFormGroup.titulo.dirty || getTheFormGroup.titulo.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.titulo.errors.required"
                      class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.titulo.errors.minlength" class="msnError">Inválido
                  </strong>
          </div>


          </div>


          <br>
          <div class="row">
            <div class="col-3">Tipo</div>
            <div class="col-9"><input type="text" class="form-control" [(ngModel)]="chat.tipo" [disabled]="mode==1">
          </div>
          <div
              *ngIf="getTheFormGroup.tipo.errors && (getTheFormGroup.tipo.dirty || getTheFormGroup.tipo.touched || trySend)">
                  <strong *ngIf="getTheFormGroup.tipo.errors.required"
                      class="msnError">Requerido</strong>
                  <strong *ngIf="getTheFormGroup.tipo.errors.minlength" class="msnError">Inválido
                  </strong>
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
              <button *ngIf="mode==1" class="btn btn-primary btn-block" (click)="back()">Volver</button>
              <button *ngIf="mode==2" class="btn btn-primary btn-block" (click)="create()">Crear</button>
              <button *ngIf="mode==3" class="btn btn-primary btn-block" (click)="update()">Update</button>
            </div>
          </div>
          </div>    
        
      </form>
    </div>
  </div>
</div>